name: CI

on:
  push:
    branches: [ "develop", "main", "feat/**" ]
  pull_request:
    branches: [ "develop", "main" ]

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Show Docker versions
        run: |
          docker --version
          docker compose version

      - name: Build app image (Dockerfile)
        run: docker build -t student-sis-app:ci .

      - name: Build with docker compose (no run)
        run: docker compose build
